body {
	background-color: #fcfcee;
	font-family: 'Comfortaa', cursive;
	padding:0;
	margin:0;
	border:0;
	/*max-height: 1400px;*/
}

.fa-phone {
	color: green;
}

.fa-facebook-square {
	color: #3B5998;
}

.fa-envelope {
	color: red;
}

.logo {
	display: inline-block;
}

.information {
	float: right;
	margin-right: 100px;
	font-size: 20px;
	display: inline-block;
	max-width: 200px;
	max-height: 200px;
}

.information p {
	margin-top: 7px;
}

.top-block {
	margin: 0px;
	padding: 20px;
	background-color: silver;
	width:100%;
	min-height:350px;
}

nav {
	margin:0 auto;
	background-color: #002366;
	height: 35px;
	max-width: 1400px;
	/*	border-radius: 75px;*/
}

.menu {
	list-style:none;
	text-align: center;

}

.menu a {
	color: #fff;
	font-size: 25px;
	text-decoration: none;
}

.menu li {
	display: inline-block;
	width: 19%;
	text-align: center;
	position:relative;
	line-height: 35px;
	border-right:1px solid silver;
}

.menu li:last-child {
	border:none;
}

.submenu {
	display:none;
	border:none;
	top:98%;
	position:absolute;
	text-align:center;
	background-color: #002366;
	width: 262px;
}

.submenu li {
	border-bottom: 1px solid silver;
	display: block;
	position:relative;
	line-height: 35px;
	width: 100%;
}

.submenu li:last-child {
	border-bottom: none;
}

.submenu a {
	text-decoration: none;
	font-size: 25px;
	color: #fff;
}

.menu li:nth-child(2):hover .submenu {
	display: block;
}
